.notebooks {
  .plus-icon {
    fill: var(--primary);
    height: 30px;
    cursor: pointer;
  }

  .notebooks-placeholder-message {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .icon {
      margin: 0 10px;
    }
  }

  .notebooks-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .notebooks-card {
    background-color: var(--primary);
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    h3 {
      margin: 0;
    }
  }
}

.notebook-form {
  box-sizing: border-box;
  color: #333;
  width: 100vw;
  max-width: 400px;
  padding: 10px 20px;

  .notebook-form-buttons {
    display: flex;
    justify-content: space-between;
  }
}
