.notebooks {
  margin-top: 80px;
  .plus-icon {
    fill: var(--primary);
    height: 30px;
    cursor: pointer;
  }

  .notebookDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 20px 20px 360px;
    padding: 20px;
    font-size: 18px;
    transition: 0.3s ease;

    .notebook-add-form .input-wrapper__label {
      color: #fff;
      font-size: 24px;
    }
  }

  .notebooks-add {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .plus-icon {
      margin-right: 20px;
      display: inline-flex;
      align-self: center;
      top: 0.1em;
      position: relative;
    }
  }

  .notebooks-placeholder-message {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .icon {
      margin: 0 10px;
    }
  }

  .notebooks-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .notebooks-card {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary);
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    h3 {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    margin-top: 120px;
  }
}

.notebook-form {
  box-sizing: border-box;
  color: #333;
  width: 100vw;
  max-width: 400px;
  padding: 10px 20px;

  .notebook-form-buttons button {
    width: 100%;
  }
}
