.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
  margin: 0 20px;
  font-family: 'Orbitron', 'Teko', sans-serif;
  box-sizing: border-box;

  .header-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 155px;
    font-size: 26px;
    .logo-icon {
      fill: var(--primary);
      height: 30px;
      margin-top: 3px;
    }
  }

  .header-nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      padding: 10px;
    }

    a.active {
      color: var(--primary);
    }
  }

  .header-nav-links__dropdown-box {
    display: none;
    position: absolute;
    background-color: var(--primary);
    right: 0;
    font-size: 18px;
    text-align: center;
    a {
      margin-left: 0;
      display: block;
    }
  }

  .header-nav-links__dropdown {
    position: relative;
    text-align: right;
    font-size: 18px;
    margin-left: 20px;
    padding: 0 10px;
    cursor: pointer;

    .active {
      color: var(--primary);
    }

    &:hover {
      a {
        background-color: var(--primary);
      }
      .header-nav-links__dropdown-box {
        display: block;
      }
    }
  }

  @media (max-width: 967px) {
  }
}
