.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  background-color: var(--black);
  color: #fff;
  margin: 0 20px;
  font-family: 'Orbitron', 'Teko', sans-serif;
  box-sizing: border-box;
  z-index: 5;

  .header-brand {
    width: 300px;
    font-size: 26px;

    .logo-icon {
      fill: var(--primary);
      height: 30px;
      margin-top: 3px;
      margin-right: 10px;
      display: inline-flex;
      align-self: center;
      top: 0.2em;
      position: relative;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .header-nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      padding: 10px;
      margin: 0 10px;
    }

    a.active {
      color: var(--primary);
    }
  }

  .header-nav-links__dropdown-box {
    display: none;
    position: absolute;
    background-color: var(--primary);
    right: 0;
    font-size: 18px;
    text-align: center;
    a {
      margin-left: 0;
      display: block;
    }
  }

  .header-nav-links__dropdown {
    position: relative;
    text-align: right;
    font-size: 18px;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer;

    .active {
      color: var(--primary);
    }

    &:hover {
      a {
        background-color: var(--primary);
      }
      .header-nav-links__dropdown-box {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    .header-brand {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .header-nav-links__dropdown-box {
      text-align: center;
      margin-left: 10px;
      left: -30px;
      right: -30px;
      a {
        margin-left: 10px;
      }
    }
  }
}
