.modal {
  display: none;

  &.modal--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
  }
}

.modal__children {
  position: relative;
  background: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 99;
  max-width: 100vw;
  max-height: 100vh;
}

.modal__overlay {
  border: none;
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 97;
}

.modal-body {
  background: white;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.16);

  > * + * {
    margin-top: 32px;
  }
}
