@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Teko:300,400,700');

@import './colors.scss';
@import './utils.scss';

@import './forms/forms.scss';
@import './forms/buttons.scss';
@import './forms/inputs.scss';
@import './forms/input-wrapper.scss';
@import './forms/toggle-switch.scss';
@import './components/loading.scss';
@import './components/header.scss';
@import './components/no-content-placeholder.scss';
@import './components/modal.scss';

@import './app.scss';
@import './views/landing.scss';
@import './views/notebooks.scss';
@import './views/notebook/notebook.scss';
@import './views/notebook/sidebar.scss';
@import './views/notebook/note.scss';
@import './views/notebook/view-note.scss';
@import './views/account/account.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

pre,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #ddd;
  font-size: 14px;
  padding: 10px;
}

code {
  padding: 5px;
}

pre > code {
  padding: 0;
}
