.notebook {
  display: flex;
  width: 100vw;
  color: #333;
  font-size: 18px;

  .notebook-delete-modal,
  .edit-notebook-modal {
    text-align: center;

    h1 {
      background-color: var(--primary);
      margin: 0 0 20px 0;
      padding: 10px;
    }

    .notebook-delete-message {
      width: 400px;
      // min-height: 200px;
      max-width: 100vw;
      padding: 20px;

      span {
        font-weight: bold;
        margin: 10px;
        display: block;
      }
    }

    .notebook-delete-buttons,
    .notebook-edit-buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      button {
        width: 40%;
      }
    }
  }

  .edit-notebook-modal .input-wrapper__label {
    font-size: 24px;
    margin: 0 !important;
    text-align: left;
  }

  .edit-notebook-modal h1 {
    margin: 0;
  }

  .notebook-edit-buttons {
    margin-top: 40px !important;
  }
}
