.note {
  background-color: #fff;
  color: #333;
  margin: 80px 20px 20px 360px;
  width: 100%;
  min-height: calc(100vh - 140px);
  padding: 20px;
  font-size: 18px;
  transition: 0.3s ease;

  textarea {
    height: calc(100vh - 225px);
  }

  .note-header {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .trash-icon {
      height: 25px;
      fill: var(--red);
      cursor: pointer;
    }

    .note-header-toggle {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .note-header-title {
      font-family: 'Teko', 'Roboto', 'Helvetica Neue', sans-serif;
      font-size: 36px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.expand {
  margin-left: 45px;
}
