.btn {
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
