.btn {
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;

  &:disabled {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-danger {
  background-color: var(--red);
  border-color: var(--red);
  color: #fff;
}
